/*Estilos generales -- Estilos en el celular 375-450px */
*{
    margin: 0;
}

body{
    background-color: #171717;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
}

img{
    object-fit: cover;
}

ul{
    list-style: none;
    display: flex;
    padding: 10px;
    padding-top: 25px;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-size: 2.2em;
}

/*Estilos del header*/
header{
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(15px);
    position: fixed;
    z-index: 100;
    padding: 10px 0;
}

header div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header div ul{
    gap: 25px;
}

header div ul li a{
    padding: 3px 8px;
    transition: color 1s;
}

header div ul li a:hover{
    color: yellow;
}

header hr{
    width: 85%;
    margin: 0 auto ;
}

header i{
    font-size: 22px;
}

/*Estilos generales de las secciones*/
section{
    width: 100%;
}

/*Estilos de la seccion home*/
#home{
    height: 100vh;
    position: relative;
    background-image: url(../img/principal.jpg);
    background-position: 5% 45%;
    
}

#home h1{
    position: absolute;
    top: 20%;
    left: 12%;
    font-size: 8em;
    letter-spacing: 3px;
}

#description{
    position: absolute;
    top: 38%;
    left: 12%;
    font-size: 2.5em;
    width: 30%;
}

#home article{
    position: absolute;
    bottom: 5%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}

.cont-details{
    width: 28%;
    transition: transform 2s;
}

.cont-details:hover{
    cursor: pointer;
    transform: translateY(-15px);
}

.cont-details:hover hr {
    border-color: yellow;
}

.iconHome{
    display: inline-block;
    font-size: 40px;
}

#home article div p{
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
}

.details{
    display: flex;
    padding: 20px 0;
    justify-content: center;
    width: 100%;
}

.details span{
    font-size: 16px;
}

.details i{
    font-size: 16px;
    margin-left: 15px;
}

/*Estils de la seccion tours*/
#tours{
    text-align: center;
}

#tours h5{
    padding: 15px 0;
    font-size: 45px;
    padding-top: 65px;
    letter-spacing: 3px;
}

#tours span{
    padding: 5px;
    font-size: 20px;
}

#tours article{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 90%;
    padding: 50px 0;
}

#tours article div{
    width: 24%;
    height: 75vh;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    filter: opacity(80%);
    transition: border-radius 1s, filter 1s, transform 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


#tours article div:first-child{
    background-image: url(../img/manchester.jpg);
}

#tours article div:nth-child(2){
    background-image: url(../img/paris.jpg);
}

#tours article div:nth-child(3){
    background-image: url(../img/cancun.jpg);
}

#tours article div:last-child{
    background-image: url(../img/roma.jpg);
}

#tours article div:hover{
    filter: opacity(100%);
    cursor: pointer;
    border-radius: 0;
    transform: translateY(-10px);
}


#tours article div span{
    font-size: 35px;
}

#tours article div p{
    font-size: 22px;
    margin-bottom: 10%;
}

/*Estilos de la seccion discover*/
#discover{
    height: 100vh;
    background-image: url(../img/fondo2.jpg);
    background-position: 50% 50%;
    position: relative;
}

#discover h5{
    position: absolute;
    left: 15%;
    top: 20%;
    font-size: 50px;
}

#galery{
    position: absolute;
    left: 15%;
    top: 50%;
    display: flex;
    gap: 10px;
}

#galery div{
    width: 40%;
}

#galery div p{
    font-size: 25px;
}

#galery div button{
    font-size: 15px;
    color: #ffffff;
    margin-top: 10px;
    width: 45%;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    background-color: #1717175b;
    transition: background-color 1s, border-radius 1s;
}

#galery div button:hover{
    cursor: pointer;
    background-color: #171717;
    border-radius: 6px;
}

#galery div button i{
    font-size: 14px;
    margin-left: 10px;
}

#galery img{
    width: 20%;
    filter: opacity(80%);
    transition: transform 1s, border-radius 1s, filter 1s;
}

#galery img:hover{
    transform: translateY(-10px);
    border-radius: 5px;
    filter: opacity(100%);
}

/*Estilos de la seccion contacs*/
#contact{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
}


#contact ul{
    display: flex;
    justify-content: center;
    gap: 55px;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    padding: 22px 50px; 
    background-color: transparent;
    backdrop-filter: blur(15px);
}

#contact ul li a{
    font-size: 12px;
    transition: color 1s, transform 1s;
}

#contact ul li a:hover{
    color: yellow;
    transform: translateY(-15px);
}

/*Estilos el footer*/
footer{
    padding: 45px;   
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
}

footer a{
    color: yellow;
    font-size: 20px;
}

/*Etilos para laptops mas pequeñas*/
@media screen and (max-width: 1025px){
    #home h1{
        top: 24%;
        font-size: 6em;
    }
    
    #description{
        font-size: 2em;
        width: 50%;
    }
    
}

/*Estilos para tablets*/
@media screen and (max-width: 769px){
    #home h1{
        font-size: 6em;
    }
    
    #description{
        width: 50%;
        font-size: 2em;
    }
    /*Estilos de la seccion tours*/
    #tours article{
        flex-wrap: wrap;
        bottom: 0;
    }

    #tours article div{
        width: 45%;
    }

    /*Estilos de la seccion gallery*/  
    #discover h5{
        left: 12%;
        font-size: 42px;
    }

    #galery{
        left: 12%;
    }

    #galery div p{
        font-size: 20px;
    }

    #galery div button{
        width: 80%;
    }

    #galery img{
        width: 26%;
    }

}


/*Medidas par celular*/
@media screen and (max-width: 426px){
    /*header*/
    #cont-list{
        position: relative;
    }

    #list{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transition: display 1s;
    }

    #cont-list:hover #list{
        display: block;
        text-align: center;
        background-color: #171717d7;
        backdrop-filter: blur(10px);
    }

    #list li{
        padding: 20px 0;
    }

    #list li a{
        display: block;
        font-size: 26px;
    }

    /*Seccion home*/
    #home h1{
        top: 10%;
        left: 6%;
        font-size: 5em;
        letter-spacing: 2px;
    }
    
    #description{
        top: 25%;
        left: 6%;
        font-size: 2.2em;
        width: 96%;
    }

    #home article{
        bottom: 0;
        gap: 10px;
        flex-wrap: wrap;
    }

    #home article div p{
        font-size: 15px;
    }

    .cont-details{
        width: 100%;
    }

    .iconHome{
        font-size: 22px;
    }

    .details span{
        font-size: 14px;
    }

    .details{
        padding: 15px 0;
    }
    
    .details i{
        font-size: 16px;
    }
    
    /*Seccion de tours*/
    #tours article div{
        width: 90%;
    }

    /*seccion discover*/
    #discover h5{
        left: 7%;
        top: 4%;
        font-size: 3.5em;
    }

    #galery{
        left: 7%;
        top: 20%;
        flex-wrap: wrap;
        gap: 8px;
    }

    #galery div{
        width: 90%;
    }

    #galery div p{
        font-size: 2em;
    }

    #galery div button{
        width: 100%;
        font-size: 1.9em;
    }

    #galery div button i{
        font-size: 1.5em;
        margin-left: 15px;
    }

    #galery img{
        width: 90%;
        height: 20vh;
    }

    
   

}

@media screen and (max-width: 376px){
    /*Seccion home*/
    #home h1{
        font-size: 4.2em;
        top: 12%;
    }

    #description{
        width: 90%;
        font-size: 2em;
    }

    /*seccion discover*/
    #discover h5{
        font-size: 3em;
    }
    
}

@media screen and (max-width: 321px){
    /*Seccion home*/
    #home h1{
        font-size: 4em;
    }

    #description{
        font-size: 1.8em;
    }   

    .iconHome{
        font-size: 2.5em;
    }

    #home article div p{
        font-size: 1.3em;
        margin-left: 2px;
    }

    .details span{
        font-size: 1.2em;
    }

    .details i{
        font-size: 1.4em;
    }

    /*Estils de la seccion tours*/
    #tours h5{
        padding: 15px 0;
        font-size: 3em;
    }

    #tours span{
        font-size: 1.8em;
    }

    /*Estilos de la seccion galeria*/
    #contact ul{
        width: 100%;
        gap: 55px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        padding: 22px 0; 
    }
}